/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap");

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --main-color: #33383c;
  --green-color: #10a674;
  --borde-color: rgba(51, 56, 60, 0.38);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: auto;
}

.blog-nav {
  width: 100%;
  height: 10vh;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blog-nav a {
  color: var(--main-color);
  text-decoration: none;
}

.blog-nav h1 {
  font-weight: 400;
}

.blog-nav h1 span {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 20%;
}

.blog-container img {
  width: 100%;
  border-radius: 5px;
  height: 60vh;
}

.blog-main-title {
  text-align: left;
  width: 100%;
  padding: 20px 0;
  color: var(--main-color);
  font-weight: 600;
  font-size: 45px;
}

.blog-writter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.blog-writter img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.blog-writter-names {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.blog-writter-names p {
  color: #33383c;
  font-size: 15px;
  font-weight: 400;
}

.blog-main-likes {
  width: 100%;
  height: 50px;
  background: var(--white-color);
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0 10px;
  gap: 20px;
}

.blog-main-likes > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--main-color);
  font-size: 15px;
}

.blog-main-content {
  margin-top: 30px;
  text-align: left;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0;
  width: 100%;
}

.more-recommendations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.more-blogs {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.blog-content {
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.blog-content img {
  width: 100%;
  height: 42%;
  border-radius: 0;
}

.blog-date {
  color: var(--main-color);
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
}

.blog-title {
  color: var(--main-color);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  padding: 10px 20px;
}

.blog-text {
  width: 100%;
  height: 20%;
  color: var(--main-color);
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 16px;
}

.blog-buttons {
  width: 90%;
  height: 15%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid rgba(51, 56, 60, 0.1);
}
.blog-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.blog-like > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--main-color);
}

.blog-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--main-color);
  border: none;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.blog-buttons a svg {
  color: var(--main-color);
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 15px;
  padding: 20px 0;
}

@media screen and (max-width: 586px) {
  .blog-container {
    padding: 50px 3%;
  }

  .blog-container img {
    width: 100%;
    height: 30vh;
  }

  .blog-main-title {
    padding: 10px 0;
    font-size: 25px;
  }

  .blog-writter img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .blog-main-content {
    font-size: 20px;
  }

  .more-blogs {
    height: auto;
    flex-wrap: wrap;
  }

  .blog-content {
    width: 100%;
    height: 600px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
}
